---
import Layout from "../../layouts/Layout.astro";
// import operatorsJson from "../../../data/operators.json";
// import slugify from "../../slugify";
// import * as classes from "./_index.css";
// import { operatorPortrait } from "../../utils/images";

// import type * as OutputTypes from "../../output-types";

// const operators = Object.values(operatorsJson) as OutputTypes.Operator[];
---

<Layout title="Operator List">
  <!-- <h1 class={classes.h1}>Operator List</h1>
  <ul class={classes.operatorList}>
    {
      operators.map((op) => {
        return (
          <li>
            <a
              href={`/operators/${slugify(op.name)}`}
              class={classes.operatorCard}
            >
              <h2>{op.name}</h2>
              <img alt="" src={operatorPortrait(op.charId)} />
            </a>
          </li>
        );
      })
    }
  </ul> -->
</Layout>
